name: Release version and NPM publish

on:
  pull_request:
    types:
      - closed
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.merged == true }}
    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: 'Checkout Project'
        uses: 'actions/checkout@v3.0.1'
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: 'actions/setup-node@v3.1.1'
        with:
          node-version: ${{ matrix.node-version }}

      - name: 'Configure Git'
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git remote set-url origin https://x-access-token:${{ secrets.GH_PAT }}@github.com/${{ github.repository }}

      - name: 'Install Dependencies'
        run: 'npm install'

      - name: 'Releasing app'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm run tag:generate
          git push --follow-tags origin main
          npm run release

